@import url('assets/css/bootstrap.min.css');
@import url('assets/css/bootstrap-responsive.min.css');
body{
	color: black;  }
label.valid {
	width: 24px;
	height: 24px;
	display: inline-block;
	text-indent: -9999px;
}
.next-step-button{
	margin-top: 25px;
	width: 100%;
	float: bottom;
}
#hid{
	display: none;
}


